@model IEnumerable<API.Models.Entity.Admin.Business>
@{
    ViewBag.Title = "GreanPermission";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>GreanPermission</h2>


<h2 style="margin-top: 0px;padding:25px;">GrantPermission</h2>
<div class="box" style="padding:25px">
    <ul>
        @foreach (var item in Model)
        {
            <input type="hidden" name="groupId" id="groupId" value="@ViewBag.gropId" />
            <li>
                <h3>@item.Name</h3>
                <ul>
                    <li>
                        <div class="row">
                            @if (@item.Permissions != null)
                            {
                                foreach (var p in @item.Permissions)
                                {
                                    string check = p.Status ? "checked" : "";
                                    <div class="col-md-3">
                                        <label>
                                            <input type="checkbox" @check class="chack_per" name="name" value="@p.Id" />@p.Name

                                        </label>
                                    </div>
                                }

                            }
                        </div>
                        <hr />
                    </li>
                </ul>
            </li>

        }

    </ul>
    <div>
        <a href="/Admin/GroupUser/" class="btn btn-primary">Back to List</a>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $(".chack_per").change(function () {
                let gropId = $("#groupId").val();
                let premissionId = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/GroupUser/Grean",
                    data: { gropId: gropId, premissionId: premissionId },
                    success: function (res) {
                        alert(res.Message);
                    }
                })
            })
        })
    </script>
}