@model API.Models.Entity.Employes
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>

<!-- Mirrored from colorlib.com/etc/regform/colorlib-regform-33/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Sep 2021 03:44:18 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <title>LOGIN</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="~/Content/css/opensans-font.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/style.css" />


    <meta name="robots" content="noindex, follow">
</head>

<body class="form-v7">
    <!-- LOGN IN FORM by Omar Dsoky -->
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-detail" }))
    {
        <form>

            <!--   con = Container  for items in the form-->
            <div class="con">
                <!--     Start  header Content  -->
                <header class="head-form">
                    <h2>Log In</h2>
                    <!--     A welcome message or an explanation of the login form -->
                    <p>login here using your username and password</p>
                </header>
                <!--     End  header Content  -->
                <br>
                <div class="field-set">

                    <span class="input-item">
                        <i class="fa fa-user-circle"></i>
                    </span>
                    @Html.TextBoxFor(m => m.Email, "", new { @class = "form-input", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    <span class="input-item">
                    </span>
                    <!--   user name -->

                    <br>


                    <span class="input-item">
                        <i class="fa fa-key"></i>
                    </span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-input", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <span>
                        <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                    </span>


                    <br>
                    <!--        buttons -->
                    <!--      button LogIn -->
                    <button class="log-in" type="submit"> Log In </button>
                </div>

                <!--   other buttons -->
                <div class="other">
                    <!--      Forgot Password button-->
                    <button class="btn submits frgt-pass">Forgot Password</button>
                    <!--     Sign Up button -->
                    <button class="btn submits sign-up">
                        <p>Do not have an account?<a href="@Url.Action("Register", "Home")">Sign up</a></p>
                        <!--         Sign Up font icon -->
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </button>
                    <!--      End Other the Division -->
                </div>

                <!--   End Conrainer  -->
            </div>
        </form>

    }


    <!-- End Form -->




    <script src="~/Content/code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Content/cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="~/Content/cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>

</body>

<!-- Mirrored from colorlib.com/etc/regform/colorlib-regform-33/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Sep 2021 03:44:22 GMT -->
</html>

<script>

    function show() {
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'text');
    }

    function hide() {
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'password');
    }

    var pwShown = 0;

    document.getElementById("eye").addEventListener("click", function () {
        if (pwShown == 0) {
            pwShown = 1;
            show();
        } else {
            pwShown = 0;
            hide();
        }
    }, false);

</script>


